@import "mixins";
@import "vars";
@import "_flexbox";
@import "_loader";
@import "carousel";


html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}



@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transform-origin($transform) {
    -webkit-transform-origin: $transform;
    -moz-transform-origin: $transform;
    -ms-transform-origin: $transform;
    -o-transform-origin: $transform;
    transform-origin: $transform;
}

@mixin animation($animation) {
    -webkit-animation: #{$animation};
    animation: #{$animation};
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content
    }

    @keyframes #{$name} {
        @content
    }
}







h1 {
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: uppercase;
  @media (min-width: 1024px) {
    font-size: 34px;
  }
}


p {
  font-size: 14px;
  line-height: 1.4;
}


img {
  max-width: 100%;
  height: auto;
}


canvas,
.canvas {
  // background-image: url("../images/space.png");
  background-image: none;
  background-position: 0px -10px;
  background-repeat: no-repeat;
  background-size: 100% calc(100% + 10px);
  opacity: 1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include transition(opacity 1.5s ease );
  &::before {
    background-color: rgba(255, 255, 255, 0.7);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    @include transition(opacity 1s ease);
  }
  &.active {
    &::before {
      opacity: 1;
    }
  }
  &.fade-in {
    opacity: 1;
    canvas {
      opacity: 1;
    }
  }
}



// ========================= MODIFIERS =========================
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform( translate(-50%, -50%) );
}


.fade-out {
  @include transition(opacity 1500ms ease);
  &.faded {
    @include transition(opacity 500ms ease);
    opacity: 0;
  }
}


.changing-text {
  color: #d2ef69;
  font-size: 12px;
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 1;
}


// The project name appears behind the main shape
// and displays the current project.
.cur-project {
  background: transparent;
  color: #fff;
  font-size: 148px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}


// The project teaser is the description
// box that appears next to the hovered on
// project.
.project-teaser {
  color: #fff;
  font-weight: 100;
  letter-spacing: 1px;
  overflow-y: scroll;
  opacity: 0;
  padding: 20px;
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 1;
  @include transition( opacity 150ms ease-in-out );
  @include transform( translate(-50%, -20%) );
  @media (min-width: 768px) {
    width: 400px;
    height: 400px;
  }
  @media (min-width: 1000px) {
    height: 350px;
    overflow: hidden;
    width: 300px;
    @include transform( none );
  } 
  &.active {
    @include transition( opacity 750ms ease-in-out );
    opacity: 1;
  }
}


.project-teaser--name {
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
}


.project-teaser--back {
  float: left;
  text-transform: uppercase;
  @media (min-width: 768px) {
    display: none;
  }
}


.project-teaser--more {
  float: right;
  text-transform: uppercase;
  @media (min-width: 768px) {
    display: none;
  }
}


// The first section of the project details.
.project-intro {
  background-color: #0e0e15;
  height: 0;
  opacity: 0;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  @include transition(opacity 0.1s ease -1s);
  &.active {
    @include transition(opacity 1s ease );
    height: 100%;
    opacity: 1;
    z-index: 2;
  }
}


// small plus icon that appears on a project
// sphere when it is hovered or clicked(mobile)
.add-icon {
  opacity: 0;
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 1;
  @include transition( opacity 250ms ease );
  @include transform( translate( -50%, -50% ) );
  @media ( min-width: 768px ) {
    height: 30px;
    width: 30px;
  }
  &.visible {
    // @include transition( opacity 0ms ease );
    opacity: 1;
  }
}


// The name of the current project.
.project-name {
  color: #fff;
  font-size: 24px;
  opacity: 0;
  position: absolute;
  letter-spacing: 2px;
  left: 50%;
  min-width: 300px;
  text-align: center;
  top: 20%;
  transform: translateX( -50% );
  transition: opacity 500ms ease;
  z-index: 1;
  @media (min-width: 768px) {
    font-size: 48px;
    top: 30px;
  }
  &.visible {
    opacity: 1;
  }
}


// The button that appears when the project details
// are in view, and takes the user back to the main view.
.back-btn {
  border: none;
  color: #fff;
  display: block;
  opacity: 0;
  position: absolute;
  right: 30px;
  top: 30px;
  text-overflow: clip;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  transition: opacity 500ms ease;
  &.visible {
    opacity: 1;
  }
  &:hover {
    cursor: pointer;
  }
}


.prev-btn,
.next-btn {
  color: #fff;
  font-size: 16px;
  opacity: 0;
  position: absolute;
  top: 40%;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform: translate( -50%, -50% );
  width: 10px;
  word-wrap: break-word;
  z-index: 1;
  transition: all 500ms ease;
  &.visible {
    opacity: 1;
  }
  &:hover {
    line-height: 1.6;
  }
}


.prev-btn {
  left: 20px;
}


.next-btn {
  right: 20px;
}


.name-dash {
  padding: 0 2px 0 0;
}



// ============================== PROJECT IMAGES =============================
// project planes are the panels with either
// an image or description corresponding to 
// the current site. They appear when the camera
// is zoomed into the project view.
.project-plane {
  max-width: 600px;
  opacity: 0;
  position: relative;
  transition: opacity 1.5s ease;
  &::before {
    background: rgba(0, 0, 0, 0.9);
    content: "";
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: opacity 500ms ease;
  }
  &.text {
    &::before {
      display: none;
    }
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.6;
    @media (min-width: $break-sm) {
      font-size: 42px;
    } 
  }
  &.visible {
    opacity: 1;
  }
  &.shown {
    &::before {
      opacity: 0;
    }
  }
}



