@import "mixins";
@import "vars";
@import "_flexbox";
@import "carousel";


html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

.loader {
  background-color: #0e0e15;
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  z-index: 999;
  @include transition( opacity 1s ease-in-out );
  &.fade-out {
    opacity: 0;
  }
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin transform-origin($transform) {
    -webkit-transform-origin: $transform;
    -moz-transform-origin: $transform;
    -ms-transform-origin: $transform;
    -o-transform-origin: $transform;
    transform-origin: $transform;
}

@mixin animation($animation) {
    -webkit-animation: #{$animation};
    animation: #{$animation};
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content
    }

    @keyframes #{$name} {
        @content
    }
}


$clock_background: #d8d9d8;
$clock_border_size: 6px;
$clock_border_color: #686868;

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 100%;  
}

@mixin centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(359deg));
  }
}

.clock {
  background: $clock_background;
  position: relative;
  box-sizing: border-box;
  border: $clock_border_size solid $clock_border_color;
  @include circle(80px);
  @include centered;
}

.clock_hand {
  $hand_base_width: 10px;
  
  background: $clock_border_color;
  @include circle($hand_base_width);
  @include centered;
  @include transform(rotate(0deg));
  @include animation(spin 1.5s infinite linear);
  
  &:before {
    $hand_width: $hand_base_width / 2;
    $hand_length: 32px;
    
    content: '.';
    font-size: 1px;
    z-index: 1;
    border-left: $hand_width solid transparent;
    border-right: $hand_width solid transparent;
    border-bottom: $hand_length solid $clock_border_color;
    position: absolute;
    left: 50%;
    margin-left: -$hand_width;
    bottom: $hand_base_width / 2;
  }
}

.clock_knob {
  $knob_width: $clock_border_size * 0.9;
  $knob_height: $clock_border_size * 0.5;

  background: $clock_border_color;
  width: $knob_width;
  height: $knob_height;
  position: absolute;
  top: -($clock_border_size + $knob_height);
  left: 50%;
  margin-left: -($knob_width / 2);
  
  &:before {
    $switch_width: $clock_border_size * 1.2;
    $switch_height: $clock_border_size;

    background: $clock_border_color;
    content: '.';
    font-size: 1px;
    z-index: 1;
    position: absolute;
    width: $switch_width;
    height: $clock_border_size;
    top: -($knob_height + 2);
    left: 50%;
    margin-left: -($switch_width / 2);
  }
}
// =========================== END LOADER ANIMATION =========================



h1 {
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: uppercase;
  @media (min-width: 1024px) {
    font-size: 34px;
  }
}

p {
  font-size: 14px;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

canvas,
.canvas {
  opacity: 1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include transition(opacity 1.5s ease );
  &::before {
    background-color: rgba(255, 255, 255, 0.7);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    @include transition(opacity 1s ease);
  }
  &.active {
    &::before {
      opacity: 1;
    }
  }
  &.fade-in {
    opacity: 1;
    canvas {
      opacity: 1;
    }
  }
}


.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform( translate(-50%, -50%) );
}


.fade-out {
  @include transition(opacity 500ms ease);
  &.faded {
    opacity: 0;
  }
}


.back-btn {
  background-color: #35FDFF;
  color: #fff;
  font-size: 16px;
  height: 50px;
  width: 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
  span {
    background: #092D2D;
    height: 1px;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    @include transform-origin( center );
    @include transform( translate(-50%, -50%) rotate(45deg) );
    &:nth-child(2) {
      @include transform( translate(-50%, -50%) rotate(-45deg) );      
    }
  }
}


// previous button that appears in the
// header of the project details.
.prev-btn {
  color: #fff;
  font-size: 12px; 
  letter-spacing: 3px;
  position: absolute;
  top: 40%;
  text-transform: uppercase;
  z-index: 1;
  @include transform( translate(-35%, -50%) rotate(-90deg) );
}


// previous button that appears in the
// header of the project details.
.next-btn {
  color: #fff;
  font-size: 12px; 
  letter-spacing: 3px;
  position: absolute;
  top: 40%;
  right: 0;
  text-transform: uppercase;
  z-index: 1;
  @include transform( translate(20%, -50%) rotate(-90deg) );
}


// The project teaser is the description
// box that appears next to the hovered on
// project.
.project-teaser {
  color: #fff;
  font-weight: 100;
  letter-spacing: 1px;
  overflow-y: scroll;
  opacity: 0;
  padding: 20px;
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 1;
  @include transition( opacity 150ms ease-in-out );
  @include transform( translate(-50%, -20%) );
  @media (min-width: 768px) {
    width: 400px;
    height: 400px;
  }
  @media (min-width: 1000px) {
    height: 350px;
    overflow: hidden;
    width: 300px;
    @include transform( none );
  } 
  &.active {
    @include transition( opacity 750ms ease-in-out );
    opacity: 1;
  }
}


.project-teaser--name {
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
}


.project-teaser--back {
  float: left;
  text-transform: uppercase;
  @media (min-width: 768px) {
    display: none;
  }
}


.project-teaser--more {
  float: right;
  text-transform: uppercase;
  @media (min-width: 768px) {
    display: none;
  }
}


// The first section of the project details.
.project-intro {
  background-color: #0e0e15;
  height: 0;
  opacity: 0;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  @include transition(opacity 0.1s ease -1s);
  &.active {
    @include transition(opacity 1s ease );
    height: 100%;
    opacity: 1;
  }
}



// ================================= PROJECT IMAGES ================================
.bg-wentworth {
  background-image: url("../images/projects/wentworth/wentworth-home.png");
}

// .bg-copyright {
//   background-image: url("../images/projects/copyright.png");
// }

.bg-enernoc {
  background-image: url("../images/projects/enernoc/enernoc-home.png");
  background-position: 0 !important;
}

.bg-father-peyton {
  background-image: url("../images/projects/father-peyton/home.png");
}

// .bg-iha {
//   background-image: url("../images/projects/iha-today.png");
// }

// .bg-standish {
//   background-image: url("../images/projects/standish-home.png");
// }

// .bg-wolf {
//   background-image: url("../images/projects/wolf-greenfield.png");
// }

.bg-zildjian {
  background-image: url("../images/projects/zildjian/home.jpg");
}




// ================================= PROJECT DETAILS ================================
// Container for the image and associated
// code/text in the project details section.
.detail--row {
  padding: 30px;
  margin: 0 auto;
  max-width: $max-width;
  &.description {
    max-width: $max-width / 1.5;
    .text {
      line-height: 1.6;
      text-align: center;
    }
  }
}


// Small text snippit at the top of each
// project detail section.
.detail--intro {
  color: #fff; 
  position: absolute;
  left: 50%;
  max-width: 400px;
  top: 40%;
  width: 80%;
  z-index: 1;
  @include transform( translate(-50%, -50%) );
  @media (min-width: 768px) {
    top: 50%;
  }
  @media (min-width: 1024px) {
    width: auto;
    left: auto;
    right: 15%;
    transform: none;
    top: 45%;
  }
}


// use on elements that contain an image 
// that should span the full width of the page
.img__full {
  // background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;
  max-width: none;
  padding: 0;
  position: relative;
  height: 80vh;
  width: 100%;
  &::before {
    background: rgba(51, 51, 51, 0.5);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  // specific styles to get certain 
  // images to appear correctly.
  &.bg-zildjian {
    background-position: 0% 50%;
    @media (min-width: 1024px) {
      background-position: 50%;
    }
  }
}


// used for the detail rows that have an image
// of a code snippit paired with an image
// of the corresponding site element.
.code-sample {
  text-align: center;
  @media (min-width: 1024px) {
    @include flexbox();
    @include align-items( center );
    @include justify-content(center);
  }
}


// Same as the general code sample, except the 
// code sample is on the right and the the 
// image is to the left.
.code-sample__alt {
  @media (min-width: 1024px) {
    @include flex-direction( row-reverse );
  }
  .code-snippit {
    @media (min-width: 1024px) {
      left: -30px;
    }
  }
  .image-snippit {
    @media (min-width: 1024px) {
      left: 30px;
    }
  }
}


// sample of code that appears next to the
// corresponding image that it produces.
.code-snippit {
  z-index: 1;
  @media (min-width: 1024px) {
    max-width: 400px;
    position: relative;
    left: 30px;
  }
}


// Image that shows what the code next to
// it produces.
.image-snippit {
  @media (min-width: 1024px) {
    left: -30px;
    position: relative;
    max-width: 650px;
  }
}


// Contains the prev/next buttons for each project
.project-nav {
  margin-top: 40px;
  ul {
    @include flexbox();
    margin: 0;
    padding: 0;
  }
}


// Individual navigation buttons (prev and next)
.project-nav--control {
  background-size: cover;
  background-position: 50%;
  list-style: none;
  height: 100px;
  flex: 1;
  @include flexbox();
  @include flex-direction( column );
  @include align-items( center );
  @include justify-content(center);
  position: relative;
  text-align: center;
  @media (min-width: 768px) {
    height: 200px;
  }
  @media (min-width: 1024px) {
    height: 300px;
  }
  @media (min-width: 1200px) {
    height: 350px;
  }
  @media (min-width: 1400px) {
    height: 400px;
  }
  @media (min-width: 1600px) {
    height: 450px;
  }
  &::before {
    background-color: rgba(51, 51, 51, 0.8);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    @include transition( all 500ms ease );
  }
  &:hover {
    cursor: pointer;
    &::before {
      background-color: rgba(51, 51, 51, 0);
    }
    .project-name,
    .control--btn {
      color: transparent;
    }
  }
}


// Text in the control button regions
.project-name,
.control--btn {
  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
  z-index: 1;
  @include transition( all 500ms ease );
  @media (min-width: 768px) {
    font-size: 24px;
  }
}


.control--btn {
  font-size: 10px;
  margin-bottom: 10px;
}



