@import "mixins";
@import "vars";


html,
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

.loader {
  // display: none;
  background-color: #0e0e15;
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  z-index: 999;
  @include transition( opacity 1s ease-in-out );
  &.fade-out {
    opacity: 0;
  }
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin animation($animation) {
    -webkit-animation: #{$animation};
    animation: #{$animation};
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content
    }

    @keyframes #{$name} {
        @content
    }
}


$clock_background: #d8d9d8;
$clock_border_size: 6px;
$clock_border_color: #686868;

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 100%;  
}

@mixin centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg));
  }

  100% {
    @include transform(rotate(359deg));
  }
}

.clock {
  background: $clock_background;
  position: relative;
  box-sizing: border-box;
  border: $clock_border_size solid $clock_border_color;
  @include circle(80px);
  @include centered;
}

.clock_hand {
  $hand_base_width: 10px;
  
  background: $clock_border_color;
  @include circle($hand_base_width);
  @include centered;
  @include transform(rotate(0deg));
  @include animation(spin 1.5s infinite linear);
  
  &:before {
    $hand_width: $hand_base_width / 2;
    $hand_length: 32px;
    
    content: '.';
    font-size: 1px;
    z-index: 1;
    border-left: $hand_width solid transparent;
    border-right: $hand_width solid transparent;
    border-bottom: $hand_length solid $clock_border_color;
    position: absolute;
    left: 50%;
    margin-left: -$hand_width;
    bottom: $hand_base_width / 2;
  }
}

.clock_knob {
  $knob_width: $clock_border_size * 0.9;
  $knob_height: $clock_border_size * 0.5;

  background: $clock_border_color;
  width: $knob_width;
  height: $knob_height;
  position: absolute;
  top: -($clock_border_size + $knob_height);
  left: 50%;
  margin-left: -($knob_width / 2);
  
  &:before {
    $switch_width: $clock_border_size * 1.2;
    $switch_height: $clock_border_size;

    background: $clock_border_color;
    content: '.';
    font-size: 1px;
    z-index: 1;
    position: absolute;
    width: $switch_width;
    height: $clock_border_size;
    top: -($knob_height + 2);
    left: 50%;
    margin-left: -($switch_width / 2);
  }
}
// =========================== END LOADER ANIMATION =========================


canvas,
.canvas {
  opacity: 1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @include transition(opacity 1.5s ease );
  &::before {
    background-color: rgba(51,51,51,0.9);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    @include transition(opacity 1s ease);
  }
  &.active {
    &::before {
      opacity: 1;
    }
  }
  &.fade-in {
    opacity: 1;
    canvas {
      opacity: 1;
    }
  }
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform( translate(-50%, -50%) );
}

.back-btn {
  color: #fff;
  font-size: 72px;
  position: fixed;
  top: 0;
  left: 25px;
  &:hover {
    cursor: pointer;
  }
}

.project-preview {
  display: none;
  opacity: 1;
  position: absolute;
  height: 100% ;
  width: 100%;
  right: 0;
  top: 0;
  @include transition(opacity 1s ease);
  @media (min-width: 768px) {
    display: block;
  }
  &::before {
    background-color: rgba(51, 51, 61, 0.5);
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
  }
  &.hidden {
    opacity: 0;
  }
  img {
    width: 100%;
    height: 100%;
  }
}


// The project teaser is the description
// box that appears next to the hovered on
// project.
.project-teaser {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  overflow: scroll;
  opacity: 0;
  padding: 20px;
  position: absolute;
  width: 300px;
  height: 250px;
  z-index: 1;
  @include transition( opacity 150ms ease-in-out );
  @include transform( translate(-50%, -20%) );
  @media (min-width: 1000px) {
    height: 350px;
    overflow: hidden;
    @include transform( none );
  } 
  &.active {
    @include transition( opacity 750ms ease-in-out );
    opacity: 1;
  }
}

.project-teaser--back {
  float: left;
  text-transform: uppercase;
  @media (min-width: 1024px) {
    display: none;
  }
}

.project-teaser--more {
  float: right;
  text-transform: uppercase;
  @media (min-width: 1024px) {
    display: none;
  }
}


// The first section of the project details.
.project-intro {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
  @include transition(opacity 0.1s ease -1s);
  &.active {
    @include transition(opacity 1s ease );
    height: 100%;
    opacity: 1;
  }
  h1 {
    position: absolute;
    font-size: 68px;
    color: #fff;
    top: 10%;
    left: 10%;
    text-transform: uppercase;
  }
}

.intro-img {
  position: absolute;
  top: 40%;
  right: 10%;
  width: 500px;
}

.intro-description {
  color: #fff;
  font-size: 24px;
  height: 50%;
  overflow: hidden;
  position: absolute;
  left: 10%;
  top: 40%;
  width: 35%;
}

// The scroll indicator
.scroll-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  height: 50px;
  width: 50px;
  @include transform( translateX(-50%) );
  &::before,
  &::after {
    background-color: #fff;
    content: " ";
    position: absolute;
    height: 1px;
    width: 27px;
  }
  &::before {
    left: 0;
    top: 50%;
    @include transform( rotate(30deg) );
  }
  &::after {
    right: 0;
    top: 50%;
    @include transform( rotate(-30deg) );
  }
}


.project-details {
  display: none;
  position: absolute;
  height: 0%;
  width: 100%;
  @include transition(all 1s ease);
  &.active {
    display: block;
    height: 100%
  }
}

.detail-section {
  position: relative;
  height: 100%;
}
