.loader {
  display: none;
  background-color: #fff;
  opacity: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }
  .loader.fade-out {
    opacity: 0; }

.Cube {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 50px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  perspective: 9999px;
  color: #333;
  margin: -40px 0 0 -40px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -37px;
  top: 65px;
  opacity: 1; }
  .Cube.panelLoad {
    z-index: 11;
    top: 50%;
    margin-top: -60px;
    -webkit-animation: panel 2.2s infinite forwards;
    animation: panel 2.2s infinite forwards; }
    .Cube.panelLoad .cube-face {
      color: black;
      box-shadow: inset 0 0 0 1px #111, 0 0 1px 1px #111; }
  .Cube .cube-face {
    width: inherit;
    height: inherit;
    position: absolute;
    background: white;
    box-shadow: inset 0 0 0 1px #333, 0 0 1px 1px #333;
    opacity: 1; }
  .Cube .cube-face-front {
    transform: translate3d(0, 0, 40px);
    -webkit-transform: translate3d(0, 0, 40px);
    font-size: 57px; }
  .Cube .cube-face-back {
    -webkit-transform: rotateY(180deg) translate3d(0, 0, 40px);
    transform: rotateY(180deg) translate3d(0, 0, 40px); }
  .Cube .cube-face-left {
    -webkit-transform: rotateY(-90deg) translate3d(0, 0, 40px);
    transform: rotateY(-90deg) translate3d(0, 0, 40px); }
  .Cube .cube-face-right {
    -webkit-transform: rotateY(90deg) translate3d(0, 0, 40px);
    transform: rotateY(90deg) translate3d(0, 0, 40px); }
  .Cube .cube-face-top {
    -webkit-transform: rotateX(90deg) translate3d(0, 0, 40px);
    transform: rotateX(90deg) translate3d(0, 0, 40px); }
  .Cube .cube-face-bottom {
    -webkit-transform: rotateX(-90deg) translate3d(0, 0, 40px);
    transform: rotateX(-90deg) translate3d(0, 0, 40px); }

@-webkit-keyframes panel {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg); }
  20% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg); }
  40% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg); }
  60% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg); }
  80% {
    -webkit-transform: rotateX(-90deg) rotateZ(0deg) rotateY(0deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg); } }
@keyframes panel {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg); }
  20% {
    -webkit-transform: rotateY(90deg) rotateZ(0deg);
    transform: rotateY(90deg) rotateZ(0deg); }
  40% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg);
    transform: rotateX(90deg) rotateZ(0deg); }
  60% {
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
    transform: rotateX(90deg) rotateY(180deg) rotateX(90deg); }
  80% {
    -webkit-transform: rotateX(-90deg) rotateZ(0deg) rotateY(0deg);
    transform: rotateX(-90deg) rotateZ(0deg) rotateY(0deg); }
  100% {
    -webkit-transform: rotateX(360deg) rotateZ(360deg);
    transform: rotateX(360deg) rotateZ(360deg); } }
html,
body {
  margin: 0px;
  width: 100%;
  height: 100%; }

canvas,
.canvas {
  opacity: 1;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1.5s ease 0.5s;
  -moz-transition: opacity 1.5s ease 0.5s;
  -ms-transition: opacity 1.5s ease 0.5s;
  -o-transition: opacity 1.5s ease 0.5s;
  transition: opacity 1.5s ease 0.5s; }
  canvas::before,
  .canvas::before {
    background-color: rgba(51, 51, 51, 0.9);
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease; }
  canvas.active::before,
  .canvas.active::before {
    opacity: 1; }
  canvas.fade-in,
  .canvas.fade-in {
    opacity: 1; }
    canvas.fade-in canvas,
    .canvas.fade-in canvas {
      opacity: 1; }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.back-btn {
  color: #fff;
  font-size: 72px;
  position: fixed;
  top: 0;
  left: 25px; }
  .back-btn:hover {
    cursor: pointer; }

.project-preview {
  display: none;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease; }
  @media (min-width: 768px) {
    .project-preview {
      display: block; } }
  .project-preview::before {
    background-color: rgba(51, 51, 61, 0.5);
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%; }
  .project-preview.hidden {
    opacity: 0; }
  .project-preview img {
    width: 100%;
    height: 100%; }

.project-intro {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transition: opacity 0.1s ease -1s;
  -moz-transition: opacity 0.1s ease -1s;
  -ms-transition: opacity 0.1s ease -1s;
  -o-transition: opacity 0.1s ease -1s;
  transition: opacity 0.1s ease -1s; }
  .project-intro.active {
    -webkit-transition: opacity 1s ease 1s;
    -moz-transition: opacity 1s ease 1s;
    -ms-transition: opacity 1s ease 1s;
    -o-transition: opacity 1s ease 1s;
    transition: opacity 1s ease 1s;
    height: 100%;
    opacity: 1; }
  .project-intro h1 {
    position: absolute;
    font-size: 78px;
    color: #fff;
    top: 10%;
    left: 10%; }

.intro-img {
  position: absolute;
  top: 40%;
  right: 10%; }

.intro-description {
  color: #fff;
  font-size: 24px;
  height: 50%;
  overflow: hidden;
  position: absolute;
  left: 10%;
  top: 40%;
  width: 35%; }

.project-details {
  display: none;
  position: absolute;
  height: 0%;
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .project-details.active {
    display: block;
    height: 100%; }

.detail-section {
  position: relative;
  height: 100%; }

/*# sourceMappingURL=projects.css.map */
