html,
body {
  margin: 0;
  height: 100%;
  width: 100%; }

.loader {
  background-color: #0e0e15;
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  z-index: 999;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; }
  .loader.fade-out {
    opacity: 0; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }
.clock {
  background: #d8d9d8;
  position: relative;
  box-sizing: border-box;
  border: 6px solid #686868;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.clock_hand {
  background: #686868;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: spin 1.5s infinite linear;
  animation: spin 1.5s infinite linear; }
  .clock_hand:before {
    content: '.';
    font-size: 1px;
    z-index: 1;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 32px solid #686868;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: 5px; }

.clock_knob {
  background: #686868;
  width: 5.4px;
  height: 3px;
  position: absolute;
  top: -9px;
  left: 50%;
  margin-left: -2.7px; }
  .clock_knob:before {
    background: #686868;
    content: '.';
    font-size: 1px;
    z-index: 1;
    position: absolute;
    width: 7.2px;
    height: 6px;
    top: -5px;
    left: 50%;
    margin-left: -3.6px; }

canvas,
.canvas {
  opacity: 1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1.5s ease;
  -moz-transition: opacity 1.5s ease;
  -ms-transition: opacity 1.5s ease;
  -o-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease; }
  canvas.fade-in,
  .canvas.fade-in {
    opacity: 1; }
    canvas.fade-in canvas,
    .canvas.fade-in canvas {
      opacity: 1; }

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.back-btn {
  color: #fff;
  font-size: 72px;
  position: fixed;
  top: 0;
  left: 25px; }
  .back-btn:hover {
    cursor: pointer; }

.project-preview {
  display: none;
  opacity: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease; }
  @media (min-width: 768px) {
    .project-preview {
      display: block; } }
  .project-preview::before {
    background-color: rgba(51, 51, 61, 0.5);
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%; }
  .project-preview.hidden {
    opacity: 0; }
  .project-preview img {
    width: 100%;
    height: 100%; }

.project-teaser {
  color: #fff;
  overflow: hidden;
  opacity: 0;
  padding: 20px;
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 1;
  -webkit-transition: opacity 150ms ease-in-out;
  -moz-transition: opacity 150ms ease-in-out;
  -ms-transition: opacity 150ms ease-in-out;
  -o-transition: opacity 150ms ease-in-out;
  transition: opacity 150ms ease-in-out; }
  .project-teaser.slide-down::before {
    opacity: 1; }
  .project-teaser.slide-up::before {
    opacity: 1; }
  .project-teaser.active {
    -webkit-transition: opacity 750ms ease-in-out;
    -moz-transition: opacity 750ms ease-in-out;
    -ms-transition: opacity 750ms ease-in-out;
    -o-transition: opacity 750ms ease-in-out;
    transition: opacity 750ms ease-in-out;
    opacity: 1; }

.project-intro {
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transition: opacity 0.1s ease -1s;
  -moz-transition: opacity 0.1s ease -1s;
  -ms-transition: opacity 0.1s ease -1s;
  -o-transition: opacity 0.1s ease -1s;
  transition: opacity 0.1s ease -1s; }
  .project-intro.active {
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    height: 100%;
    opacity: 1; }
  .project-intro h1 {
    position: absolute;
    font-size: 78px;
    color: #fff;
    top: 10%;
    left: 10%; }

.intro-img {
  position: absolute;
  top: 40%;
  right: 10%;
  width: 500px; }

.intro-description {
  color: #fff;
  font-size: 24px;
  height: 50%;
  overflow: hidden;
  position: absolute;
  left: 10%;
  top: 40%;
  width: 35%; }

.project-details {
  display: none;
  position: absolute;
  height: 0%;
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  .project-details.active {
    display: block;
    height: 100%; }

.detail-section {
  position: relative;
  height: 100%; }

/*# sourceMappingURL=projects.css.map */
